{% extends "main.html" %}
{% block content %}
  <h3> SELECT * FROM Games</h3>
  <div class="table-responsive">
    <style>
      body {
          font-size: 12px;
      }
      table, th {
        text-align: center;
      } 
      </style>
    <table class="table">
      <thead>
        <th>id_pk</th><th>opponent_fk</th><th>date</th><th>score</th><th>outcome</th>
      </thead>
      <tbody>
    	{% for i in player_array %}
    	<tr>
    		<td>{{i[0]}}</td><td>{{i[1]}}</td><td>{{i[2]}}</td><td>{{i[3]}}</td><td>{{i[4]}}</td>
    	</tr>
    	{%endfor%}
      </tbody>
    </table>
  </div>
{% endblock %}