<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>BrBa</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <h3 class="text-muted">Heisenberg</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Chicago Bulls Player Stats App</h1>
            <p class="lead"></p>
            <p><a class="btn btn-md btn-success" href="players" role="button">click to view Players</a></p>
            <p><a class="btn btn-md btn-success" href="data" role="button">click to view Data</a></p>
            <p><a class="btn btn-md btn-success" href="games" role="button">click to view Games</a>
            </p>

        </div>
 
        <footer class="footer">
            <p>&copy; Los Pollos Hermanos</p>
        </footer>
 
    </div>
</body>
 
</html>